
.auth-page {
    background-image: url("../img/login.jpg");
     background-size: cover;    
    background-position: center; 
    background-repeat: no-repeat;
 
    
}


.auth-form {
    border-radius: 20px;
    padding: 40px;
    margin: 50px auto;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
    
}

/* Ми робимо цей h2 специфічним, щоб він не конфліктував з h2 з index.css */
.auth-form h2 {
    text-align: center;
    color: #ffffff; 
    margin: 0;
    text-shadow: none; 
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #b6b6b6;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
}

.form-button {
    width: 100%;
    padding: 15px;
    background: #202020;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.form-button:hover {
    background: #000000;
}

.form-link {
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
}

.form-link a {
    color: #adadad;
    text-decoration: none;
}

.form-link a:hover {
    text-decoration: underline;
}

#error-message {
    color: red;
    margin-bottom: 15px;
    text-align: center;
    display: none;
}