/* css/cart.css */
.main-container.cart {
    background-image: url("../img/cart.webp");
}

.cart-container {
    width: 900px;
    height: calc(100% - 180px);
    border-radius: 30px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.cart-container h2 {
    text-align: center;
    color: #ffffff;
    margin: 0;
    text-shadow: none;
    font-size: 2.5rem;
}

/* Контейнер для списку товарів */
#cart-items-container {
    padding: 20px;
    height: 300px;
    border-radius: 30px;
    overflow-y: scroll;
    background: #00000063;
}

/* Повідомлення про порожній кошик */
#cart-empty-msg {
    text-align: center;
    font-size: 1.2rem;
    color: #c7c7c7;
}

/* Один товар у кошику (буде додано через JS) */
.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.cart-item img {
    width: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.cart-item-info {
    flex-grow: 1;
}

.cart-item-info h4 {
    margin: 0;
    font-size: 1.2rem;
    color: #ffffff;
}

.cart-item-info p {
    margin: 5px 0 0;
    color: #8b8b8b;
}

.cart-item-quantity {
    font-size: 1.1rem;
    font-weight: bold;
    color: #8a8a8a;
    margin-right: 20px;
}

.cart-item-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    min-width: 80px;
    text-align: right;
}

/* Блок з підсумковою сумою */
.cart-summary {
    text-align: right;
    padding-top: 30px;
}

#cart-total {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 20px;
}

/* Кнопка "Оформити замовлення" */
#checkout-button {
    width: 100%;
    max-width: 300px;
    /* Не на всю ширину */
    padding: 15px;
    background: #1a1a1a;
    /* Зробимо її яскравішою */
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

#checkout-button:hover {
    background: #000000;
}

#checkout-button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.cart-links {
    text-align: center;
    margin-top: 20px;
}

.cart-links a {
    color: #4e4e4e;
    text-decoration: none;
    font-size: 1.1rem;
}

.cart-links a:hover {
    text-decoration: underline;
}