/* css/navbar.css */
@font-face {
    font-family: 'MyFont';
    src: url('../fonts/catania.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.main-nav {
    background: #000000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 1000;
    
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 100px);
    height: 80px;
    padding-right: 50px;
    padding-left: 50px;
    
}

.nav-logo a {
    font-size: 58px;
    line-height: 40px;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.2s ease;
    font-family: 'MyFont';
}

.nav-logo a:hover {
    color: #616161;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-links a,
.nav-links .nav-button {
    text-decoration: none;
    color: #aaaaaa;
    font-weight: 500;
    font-size: 0.95rem;
    padding: 8px 16px;
    border-radius: 6px;
    transition: all 0.2s ease;
}

.nav-links a:hover {
    color: #ffffff;
    transform: translateY(-2px);
}

.nav-button {
    background: #919191;
    color: rgb(0, 0, 0) !important;
    border: none;
    cursor: pointer;
    
}

.nav-button:hover {
    background: #ffffff !important;
    transform: translateY(-2px);
}

.nav-button:active {
    transform: translateY(0);
}