# Composer

/vendor/
/composer.lock

# IDE та редактори

.idea/
.vscode/
*.swp
*.sublime-workspace
*.sublime-project

# Логи та тимчасові файли

*.log
/tmp/
/cache/
/sessions/

# Laravel специфіка

.env